<launch>

    <arg name="project" default="lio_sam_mid360_pointcloud2"/>

    <!-- 指定打印输出的日志等级 -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lio_sam_mid360_pointcloud2)/launch/include/rosconsole/rosconsole_error.conf"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam_mid360_pointcloud2)/config/paramsLivoxIMU.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam_mid360_pointcloud2)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam_mid360_pointcloud2)/launch/include/module_robot_state_publisher.launch" />

    <!--- Run Navsat -->
    <!-- <include file="$(find lio_sam_mid360_pointcloud2)/launch/include/module_navsat.launch" /> -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
        args="--clock -d 1  $(find lio_sam_mid360_pointcloud2)/../../chuangye_0910_high_01.bag">
    </node>

    <!--- Run Rviz-->
    <include file="$(find lio_sam_mid360_pointcloud2)/launch/include/module_rviz.launch" />

</launch>
