<launch>

    <arg name="project" default="zlio_sam"/>
    <param name="/use_sim_time" value="true" />

    <!-- 指定打印输出的日志等级 -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find zlio_sam)/launch/include/rosconsole/rosconsole_error.conf"/>
    
    <!-- Parameters -->
    <rosparam file="$(find zlio_sam)/config/paramsLivoxIMU.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find zlio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find zlio_sam)/launch/include/module_robot_state_publisher.launch" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="link_name" args="0 0 0 0 0 0 map odom 0" /> -->

    <!--- Run Navsat -->
    <!-- <include file="$(find zlio_sam)/launch/include/module_navsat.launch" /> -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
        args="--clock -d 1  $(find zlio_sam)/../../chuangye_0910_high_01.bag">
    </node>

    <!--- Run Rviz-->
    <include file="$(find zlio_sam)/launch/include/module_rviz.launch" />

</launch>
